@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');
$Rubik: 'Rubik',sans-serif;
$MainP: #1C1E23;
$Main1: #8690A4;
$Main2: #FBFCFF;
$Main3: #04060C;
$Main4: #000000;

$NavP: #343229;
$Nav1:#FFFEFA;
$Nav2:#F5EDC3;
$Nav3:#110F05;
$Nav4:#000000;

$HeaderP:#1C1E23;
$Header1:#FBFCFF; 
$Header2:#8690A4; 
$Header3:#04060C; 
$Header4:#000000;

$FooterP:#342E29;
$Footer1:#FFFCFA;
$Footer2:#F5DAC3;
$Footer3:#110A05;
$Footer4:#000000;

