@use 'variables';

.country-description{
    text-align: center;
    color: variables.$Main2;
    font-family: variables.$Font;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    & p,& h2, & h3 {
    border: 3px solid variables.$Main4;
    background-color: variables.$NavP;
    }
    &__clouds{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    @media (min-width:768px) {
        max-width: 600px;
    }
    @media (min-width:992px) {
        height: 700px;
        display: grid;
        align-content: center;
        grid-template-areas: 
        "country country"
        "weather weather-icon"
        "weather weather-des"
        "temperature temperature-act"
        "temperature temperature-min"
        "temperature temperature-max"
        ;
        &__city{
            grid-area: country;
        }
        &__weather{
            grid-area: weather;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        &__clouds{
            grid-area: weather-icon;
            
        }
        &__description{
            grid-area: weather-des;
        }
        &__temperature{
            grid-area: temperature;
            display: flex;
            align-items: center;
            justify-content: center;
            &__actual{
                grid-area: temperature-act;
            }
            &__min{
                grid-area: temperature-mix;
            }
            &__max{
                grid-area: temperature-max;
            }
        }
    }

}